<%- include('partials/header', { title: 'Dashboard', user, treatboxDates }) %>

	<ul>
		<li><a href="<%=facebookLoginUrl %>">Login To Facebook</a></li>
		<li><strong>FACEBOOK ID: </strong><%=user.facebook.facebookID %></li>
		<li><strong>INSTAGRAM ID: </strong><%=user.facebook.instagramID %></li>
	</ul>
<%- include('partials/footer') %>