<%- include('partials/header', { page: 'settings', title: 'Settings', user, treatboxDates: settings.treatboxDates }) %>
<% const daysOfTheWeek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']; %>
	<div class="card">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs" id="settingsTabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="treatboxes-tab" data-toggle="tab" href="#treatboxes" role="tab" aria-controls="treatboxes" aria-selected="true">Treatboxes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">User</a>
				</li>
			</ul>
		</div>

		<div class="card-body">
			<div class="tab-content" id="settingsTabContent">
				<div class="tab-pane fade show active" id="treatboxes" role="tabpanel" aria-labelledby="treatboxes-tab">
					<h5 class="card-title"><% 
						if (editing) {
							%>Edit<%
						} else {
							%>Add<%
						} %> Product</h5>
					<form action="/user/settings" method="post">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="add-product-name">Name</label>
								<input type="text" class="form-control" id="add-product-name" name="add-product-name" placeholder="Product Name"<% 
								if (editing) {
									%>value="<%=editing.product.name %>"<%
								} %> />
							</div>

							<div class="form-group col-md-6">
								<label for="add-product-description">Description</label>
								<textarea class="form-control settings-textarea" rows="3" id="add-product-description" name="add-product-description" placeholder="Description"><% 
								if (editing) {
									%><%=editing.product.description %><%
								} %></textarea>
							</div>
						</div>
						
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="add-product-brand">Brand</label>
								<input type="text" class="form-control" id="add-product-brand" name="add-product-brand" placeholder="Brand"<% 
								if (editing) {
									%>value="<%=editing.product.brand %>"<%
								} else {
									%>value="Whisk"<%
								} %> />
							</div>

							<div class="form-group col-md-6">
								<label for="add-product-category">Category</label>
								<input type="text" class="form-control" id="add-product-category" name="add-product-category" placeholder="Category"<% 
								if (editing) {
									%>value="<%=editing.product.category %>"<%
								} %> />
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-3">
								<label for="add-product-price">Sale Price (inc. MOMs)</label>
								<div class="input-group">
									<input type="text" class="form-control" id="add-product-price" name="add-product-price" placeholder="Price"<% 
									if (editing) {
										%>value="<%=priceFormat(editing.product.grossPrice, { includeSymbol: false }) %>"<%
									} %> />
									<div class="input-group-append">
										<span class="input-group-text">SEK</span>
									</div>
								</div>
							</div>
							<div class="form-group col-md-3">
								<label for="add-product-cost-price">Cost Price (inc. MOMs)</label>
								<div class="input-group">
									<input type="text" class="form-control" id="add-product-cost-price" name="add-product-cost-price" placeholder="Cost Price"<% 
									if (editing) {
										%>value="<%=priceFormat(editing.product.costPrice, { includeSymbol: false }) %>"<%
									} %> />
									<div class="input-group-append">
										<span class="input-group-text">SEK</span>
									</div>
								</div>
							</div>
							<div class="form-group col-md-3">
								<label for="add-product-moms">MOMs Rate</label>
								<select class="form-control" id="add-product-moms" name="add-product-moms"><%
									const selectedRate = editing ? editing.product.momsRate : 12;
									[0, 6, 12, 25].forEach((rate) => { %>
										<option value="<%=rate %>"<% 
											if (rate === selectedRate) { 
												%> selected<%
											} %>><%=rate %>%</option><%
									}); %>
								</select>
							</div>
							<div class="form-group col-md-3">
								<label for="add-product-deadline">Deadline</label>
								<select class="form-control" id="add-product-deadline" name="add-product-deadline"><%
									const selectedDeadline = editing ? editing.product.deadline : 'normal';
									['normal', 'vegetable'].forEach((rate) => { %>
										<option value="<%=rate %>"<% 
											if (rate === selectedDeadline) { 
												%> selected<%
											} %>><%=rate %></option><%
									}); %>
								</select>
							</div>
						</div>

						<div class="form-row"><%
							for (let zone = 0; zone <= 3; zone += 1) {
								const deliveryInfo = editing != null && editing.product.delivery != null ? editing.product.delivery.filter((x) => x.zone === zone)[0] : {}; %>
							<div class="form-group col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="add-zone-<%=zone %>-delivery" name="add-zone-<%=zone %>-delivery"<%
									if (deliveryInfo.deliverable) {
										%> checked<%
									} %> />
									<label class="form-check-label" for="add-zone-<%=zone %>-delivery">Zone <%=zone %> Delivery</label>
								</div>
								<div class="input-group">
									<input type="text" class="form-control" id="add-zone-<%=zone %>-price" name="add-zone-<%=zone %>-price" placeholder="Cost" value="<%=priceFormat(deliveryInfo.price, { includeSymbol: false }) %>" />
									<div class="input-group-append">
										<span class="input-group-text">SEK</span>
									</div>
								</div>
							</div><%
						} %>
						</div>

						<div class="form-group row">
							<div class="col-md-6">
								<button type="submit" class="btn btn-primary" name="submit" <% 
						if (editing) {
							%>value="updateproduct-<%=editing.product._id %>">Update<%
						} else {
							%>value="addproduct">Add<%
						} %></button>
							</div>
						</div>
					</form>

					<form action="/user/settings" method="post">
						<div class="table-responsive">
							<table class="table table-striped table-sm table-hover">
								<thead>
									<tr>
										<th>NAME</th>
										<th>DEADLINE</th>
										<th>GROSS PRICE</th>
										<th>MOMS RATE</th>
										<th>NET PRICE</th>
										<th>MOMS AMOUNT</th>
										<th colspan="2">COST PRICE</th>
									</tr>
								</thead>
								<tbody>
							<% for (let i = 0; i < settings.products.length; i += 1) { %>
									<tr>
										<td><%=settings.products[i].name %></td>
										<td><%=settings.products[i].deadline %></td>
										<td><%=priceFormat(settings.products[i].grossPrice) %></td>
										<td><%=settings.products[i].momsRate %> %</td>
										<td><%=priceFormat(settings.products[i].netPrice, { includeOre: true }) %></td>
										<td><%=priceFormat(settings.products[i].momsAmount, { includeOre: true }) %></td>
										<td><%=priceFormat(settings.products[i].costPrice, { includeOre: true }) %></td>
										<td>
											<button type="submit" class="btn btn-sm btn-primary" name="submit" value="editproduct-<%=settings.products[i]._id %>">Edit</button>
											<button type="submit" class="btn btn-sm btn-danger" name="submit" value="deleteproduct-<%=settings.products[i]._id %>">Delete</button>
										</td>
									</tr>
									<% } %>
								</tbody>
							</table>
						</div>
					</form>

					<h5 class="card-title">Timeframe</h5>
					<form action="/user/settings" method="post">
						<div class="form-group row">
							<label for="timeframe-delivery-date" class="col-md-3 col-form-label">Delivery</label>
							<div class="input-group col-md-3">
								<select class="form-control" id="timeframe-delivery-date" name="timeframe-delivery-date"><%
									daysOfTheWeek.forEach((day, index) => { %>
									<option value="<%=index + 1 %>"<%
										if (index + 1 === settings.timeframe.delivery.day) {
											%> selected<%
										} %>><%=day %></option><%
									}); %>
								</select>
							</div>
							<div class="input-group col-md-3">
								<input type="text" class="form-control datetimepicker-input" id="timeframe-delivery-time" name="timeframe-delivery-time" data-toggle="datetimepicker" data-target="timeframe-delivery-time" value="<%=settings.timeframe.delivery.time %>" />
							</div>
						</div>

						<div class="form-group row">
							<label for="timeframe-deadline-date" class="col-md-3 col-form-label">Order Deadline</label>
							<% const deadline = settings.timeframe.deadline.find((x) => x.type === 'normal'); %>
							<div class="input-group col-md-3">
								<select class="form-control" id="timeframe-deadline-date" name="timeframe-deadline-date"><%
									daysOfTheWeek.forEach((day, index) => { %>
									<option value="<%=index + 1 %>"<%
										if (index + 1 === deadline.day) {
											%> selected<%
										} %>><%=day %></option><%
									}); %>
								</select>
							</div>
							<div class="input-group col-md-3">
								<input type="text" class="form-control datetimepicker-input" id="timeframe-deadline-time" name="timeframe-deadline-time" data-toggle="datetimepicker" data-target="timeframe-deadline-time" value="<%=deadline.time %>" />
							</div>
						</div>

						<div class="form-group row">
							<label for="timeframe-vegetable-deadline-date" class="col-md-3 col-form-label">Vegetable Order Deadline</label>
							<% const vegetableDeadline = settings.timeframe.deadline.find((x) => x.type === 'vegetable'); %>
							<div class="input-group col-md-3">
								<select class="form-control" id="timeframe-vegetable-deadline-date" name="timeframe-vegetable-deadline-date"><%
									daysOfTheWeek.forEach((day, index) => { %>
									<option value="<%=index + 1 %>"<%
										if (index + 1 === vegetableDeadline.day) {
											%> selected<%
										} %>><%=day %></option><%
									}); %>
								</select>
							</div>
							<div class="input-group col-md-3">
								<input type="text" class="form-control datetimepicker-input" id="timeframe-vegetable-deadline-time" name="timeframe-vegetable-deadline-time" data-toggle="datetimepicker" data-target="timeframe-vegetable-deadline-time" value="<%=vegetableDeadline.time %>" />
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-6 offset-md-3">
								<button type="submit" class="btn btn-primary" name="submit" value="timeframeupdate">Update</button>
							</div>
						</div>
					</form>


					<h5 class="card-title">Treatbox Settings</h5>
					<form action="/user/settings" method="post">
						<% if (!settings.rebate) {
								settings.rebate = {
									codes: []
								};
						}
							for (let i = 0; i <= settings.rebate.codes.length; i += 1) {
							let code = { value: '', type: '' };
							if (i < settings.rebate.codes.length) {
								code = settings.rebate.codes[i];
							} %>
						<div class="form-group row">
							<label for="rebate-code-<%=i %>" class="col-md-3 col-form-label">Rebate Code</label>
							<div class="col-md-3">
								<input type="text" class="form-control" id="rebate-code-<%=i %>" name="rebate-code-<%=i %>" placeholder="Rebate Code" value="<%=code.value %>" />
							</div>
							<div class="col-md-3">
								<select class="form-control" id="rebate-type-<%=i %>" name="rebate-type-<%=i %>">
									<option value="costPrice" <% if (code.type === 'costPrice') { %>selected<% } %>>Cost Price</option>
									<option value="zone3Delivery" <% if (code.type === 'zone3Delivery') { %>selected<% } %>>Zone 3 Delivery</option>
									<option value="discountPercent"<% if (code.type === 'discountPercent') { %> selected<% } %>>Discount (Percentage)</option>
								</select>
							</div>
							<div class="col-md-3" id="rebate-amount-container-<%=i %>"><%
								if (code.type === 'discountPercent') { %>
									<input type="text" class="form-control" id="rebate-amount-$<%=i %>" name="rebate-amount-<%=i %>" placeholder="Percentage" value="<%=code.amount %>" />
								<% } %>
							</div>
						</div>
						<% } %>
						<div class="form-group row">
							<div class="col-md-6 offset-md-3">
								<button type="submit" class="btn btn-primary" name="submit" value="rebatecodesupdate">Update</button>
							</div>
						</div>
					</form>

					<form action="/user/settings" method="post">
						<div class="form-group row">
							<label for="default-sms" class="col-md-3 col-form-label">Default Delivery SMS</label>
							<div class="col-md-6">
								<textarea class="form-control settings-textarea" rows="8" id="default-sms" name="default-sms" placeholder="Rebate Code"><% if (settings.sms.defaultDelivery) { %><%=settings.sms.defaultDelivery %><% } %></textarea>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6 offset-md-3">
								<button type="submit" class="btn btn-primary" name="submit" value="smsupdate">Update</button>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">
					<h5 class="card-title">Details</h5>
					<form action="/user/settings" method="post">
						<div class="form-group row">
							<label for="username" class="col-md-3 col-form-label">Username</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="username" name="username" placeholder="Username" value="<%=user.username %>" readonly />
							</div>
						</div>

						<div class="form-group row">
							<label for="email" class="col-md-3 col-form-label">E-Mail</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="email" name="email" placeholder="E-Mail Address" value="<%=user.email %>" />
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-6 offset-md-3">
								<button type="submit" class="btn btn-primary" name="submit" value="updateuserdetails">Update</button>
							</div>
						</div>
					</form>


					<h5 class="card-title">Change Password</h5>
					<form action="/user/settings" method="post">
						<div class="form-group row">
							<label for="old-password" class="col-md-3 col-form-label">Old Password</label>
							<div class="col-md-6">
								<input type="password" class="form-control" id="old-password" name="old-password" placeholder="Old Password" />
							</div>
						</div>

						<div class="form-group row">
							<label for="new-password" class="col-md-3 col-form-label">New Password</label>
							<div class="col-md-6">
								<input type="password" class="form-control" id="new-password" name="new-password" placeholder="New Password" />
							</div>
						</div>

						<div class="form-group row">
							<label for="confirm-new-password" class="col-md-3 col-form-label">New Password (Confirm)</label>
							<div class="col-md-6">
								<input type="password" class="form-control" id="confirm-new-password" name="confirm-new-password" placeholder="Confirm New Password" />
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-6 offset-md-3">
								<button type="submit" class="btn btn-primary" name="submit" value="updatepassword">Update</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<%- include('partials/footer', { page: 'settings' }) %>