<%-include('partials/header', { title: 'Treatbox Orders' }); %>
<% let lastWeek='0'; %>

		<%for (let i = 0; i < orders.length; i += 1) {
			const timestamp = orders[i]._id.getTimestamp();
			if (lastWeek != orders[i].delivery.date) {
				lastWeek = orders[i].delivery.date;
				const data = getWeekData(lastWeek.substring(5));
				const total = totals.find((x) => x._id === lastWeek);
				%>
		<table class="table table-bordered">
			<thead>
				<tr>
					<td colspan="5">
						<h2><%=data.delivery.format('dddd, MMMM Do YYYY [(Week] w[)]') %></h2>
							<div class="card">
								<div class="card-body row">
								<ul class="user-info-list col-md-4">
									<li>
										<span class="user-info-subtitle">Orders</span>
									</li>
									<li>
										<span class="user-info-detail">COMBO BOXES:</span>
										<%=total.comboBoxes %>
									</li>
									<li>
										<span class="user-info-detail">TREAT BOXES:</span>
										<%=total.treatBoxes %>
									</li>
									<li>
										<span class="user-info-detail">VEGETABLE BOXES:</span>
										<%=total.vegetableBoxes %>
									</li>
								</ul>
								<ul class="user-info-list col-md-4">
									<li>
										<span class="user-info-subtitle">To Make</span>
									</li>
									<li>
										<span class="user-info-detail">TREAT BOXES TO MAKE:</span>
										<%=total.treatBoxesToMake %>
									</li>
									<li>
										<span class="user-info-detail">VEGETABLE BOXES TO ORDER:</span>
										<%=total.vegetableBoxesToOrder %>
									</li>
								</ul>
								<ul class="user-info-list col-md-4">
									<li>
										<span class="user-info-subtitle">Deliveries</span>
									</li>
									<li>
										<span class="user-info-detail">NUMBER OF DELIVERIES:</span>
										<%=total.deliveries %>
									</li>
									<li>
										<span class="user-info-detail">INCOME:</span>
										<%=total.income %> SEK
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th class="column">ORDER DATE</th>
					<th class="column">ORDER TIME</th>
					<th class="column">NAME</th>
					<th class="column">ADDRESS</th>
					<th class="column info-paid">PAID</th>
				</tr>
			</thead><% }
				let length;
				let collection;
				if (orders[i].delivery.type === 'collection') {
					collection = true;
					length = 1;
				} else {
					collection = false;
					length = orders[i].recipients.length;
				}
				for (let j = 0; j < length; j += 1) {
					let recipient;
					recipient = collection ? orders[i] : orders[i].recipients[j];
				%>
				<tr data-toggle="collapse" data-target="<%=`#ID-${j}-${orders[i]._id}` %>">
					<td><%=timestamp.toLocaleDateString() %></td>
					<td><%=timestamp.toLocaleTimeString() %></td>
					<td><%=recipient.details.name %></td>
					<td>
						<% if (collection) { %>Collection<% } else { %><%=recipient.delivery.address %>&nbsp;
						<a href="<%=recipient.delivery.url %>" target="_blank" rel="external">
							<img class="icon" src="/icons/location.svg" alt="View in Google Maps" />
						</a><% } %>
					</td>
					<td class="info-paid"><%
						if (orders[i].payment.paid) {
							%><img class="icon" src="/icons/tick.svg" alt="Paid!" /><%
						} else {
							%><img class="icon" src="/icons/cross.svg" alt="Not yet paid" /><%
						} %></td>
				</tr>
				<tr class="collapsingRow">
					<td class="hiddenRow" colspan="5">
						<div class="card collapse" id="<%=`ID-${j}-${orders[i]._id}` %>">
							<div class="card-body row">
								<div class="col-md-6">
									<ul class="user-info-list">
										<li>
											<span class="user-info-subtitle">Purchaser</span>
										</li>
										<li>
											<span class="user-info-detail">NAME:</span>
											<%=orders[i].details.name %>
										</li>
										<li>
											<span class="user-info-detail">PHONE NUMBER:</span>
											<%=orders[i].details.telephone %>
										</li>
										<li>
											<span class="user-info-detail">E-MAIL ADDRESS:</span>
											<a href="mailto:<%=orders[i].details.email %>"><%=orders[i].details.email %></a>
										</li>
									</ul>

									<% if (collection) { %>
								</div>

								<div class="col-md-6">
									<% } %>
									<ul class="user-info-list">
										<li>
											<span class="user-info-subtitle">Payment</span>
										</li>
										<li>
											<span class="user-info-detail">COST:</span>
											<%=orders[i].cost.total%> SEK
										</li>
										<li>
											<span class="user-info-detail">PAYMENT METHOD:</span>
											<%=orders[i].payment.method%>
										</li>
										<li>
											<span class="user-info-detail">PAID:</span>
											<%if (orders[i].payment.paid) { %>Yes<% } else { %>
											No <a href="/treatbox/orders/markaspaid/<%=orders[i]._id %>">(Mark as Paid)</a><%} %></li>
									</ul>
								</div>

								<div class="col-md-6">
									<% if (!collection) { %>
									<ul class="user-info-list">
										<li>
											<span class="user-info-subtitle">Recipient</span>
										</li>
										<li>
											<span class="user-info-detail">NAME:</span>
										<%=recipient.details.name %>
										</li>
										<li>
											<span class="user-info-detail">PHONE NUMBER:</span>
										<%=recipient.details.telephone %>
										</li>
										<li>
											<span class="user-info-detail">NOTES:</span>
											<%=recipient.delivery.addressNotes %>
										</li>
										<li>
											<span class="user-info-detail">MESSAGE:</span>
											<%=recipient.delivery.message %>
										</li>
									</ul>
									<% } %>

									<ul class="user-info-list">
										<li>
											<span class="user-info-detail">ORDER:</span>
											<%=getReadableOrder(recipient.items) %>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</td>
				</tr><% }} %>
			</table>
<%- include('partials/footer') %>